{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block sidebarsearch %}
{% endblock %}

{% block pagewrapper %}
<div id="page-wrapper">
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Unit Kesihatan <small>Rekod Medikal</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-tasks"></i> Senarai lawatan ke klinik bagi pelatih
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <div class="table-responsive">

              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>No KP</th>
                    {% if report_type == "bsn_account": %}
                    <th>No Akaun BSN</th>
                    {% elif report_type == "allergic": %}
                    <th>No Indeks</th>
                    <th>Kompeni</th>
                    <th>Alahan/Penyakit</th>
                    {% else: %}
                    <th>No Indeks</th>
                    <th>Kompeni</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for trainee in trainees: %}
                  <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{loop.index}}</td>
                    <td>{{ trainee.name }}</td>
                    <td>{{ trainee.ic_no }}</td>
                    {% if report_type == "bsn_account": %}
                    <td>{{ trainee.bsn_account_no }}</td>
                    {% elif report_type == "allergic": %}
                    <td>{{ trainee.index_no }}</td>
                    <td>{{ trainee.company.name }}</td>
                    <td>{{ trainee.company.allergies }}</td>
                    {% else: %}
                    <td>{{ trainee.index_no }}</td>
                    <td>{{ trainee.company.name }}</td>
                    {% endif %}
                  </tr>

                  <tr>
                    <td></td>
                    <td colspan="4">
                      <table class="table table-striped table-bordered table-hover" id="subtable">
                        <thead>
                          <tr>
                            <th>Tarikh</th>
                            <th>Butir</th>
                            <th>Diagnosis</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in admittances: %}
                          {% if item.trainee.ic_no == trainee.ic_no: %}
                          <tr>
                            <td>
                              {{ item.timestamp }}
                            </td>
                            <td>
                              {{ item.details }}
                            </td>
                            <td>
                              {{ item.diagnosis }}
                            </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
{% endblock %}
