{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block pagewrapper %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">REKOD DATA INFORMASI PELATIH PLKN</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- /.panel -->
		    <img style="width: 640px; height: 480px;" src="{{ url_for('static', filename='images/main.jpg') }}">
		
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}
