{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block pagewrapper %}

<div id="page-wrapper">
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Daftar Inventori <small>Daftar barang baru</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-pencil-square-o"></i> Borang pendaftaran inventori
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <form action="./Management-Inventories-New" role="form" method="post">
      <div class="row">
        <div class="col-lg-12">

          <div class="panel panel-primary">
            <div class="panel-heading">
              Butiran inventori
              <h5 class="panel-title" style="color:red;font-weight:bold;">{{error}}</h5>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>No Kod</label>
                    <input name="code" class="form-control" placeholder="No Kod">
                  </div>
                </div>
                <!-- 6 -->

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Kategori</label>
                    <select name="category" class="form-control">
                      <option value="" {% if edit and inventory.category == "" %} selected=selected {% endif %} ></option>
                      {% for type in categories: %}
                      <option value="{{ type.id }}" {% if edit and type.id == inventory.category.id %} selected=selected {% endif %}>{{ type.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- 6 -->

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Item</label>
                    <input name="item" class="form-control" placeholder="Item">
                  </div>
                </div>
                <!-- 6 -->

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Harga Seyunit</label>
                    <input name="unit_price" class="form-control" placeholder="Item">
                  </div>
                </div>
                <!-- 6 -->
              </div>
              <!-- panel-body -->
            </div>
            <!-- panel -->
          </div>
          <!-- 12 -->

          <div class="col-lg-12">
            <button type="submit" class="btn btn-success">{% if delete %} Padam {% else %} Daftar {% endif %}</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
          <!-- 12 -->

        </div>
        <!-- 12 -->
      </div>
      <!-- /.row -->
    </form>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}
