<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>REKOD DATA INFORMASI PELATIH PLKN : {% block title %} {% endblock %} </title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
	
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ url_for('static', filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/timeline/timeline.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- PLKN CSS -->
    <link href="{{ url_for('static', filename='css/plkn.css') }}" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./Dashboard">Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
		<span class="label label-info">SW151</span>
				Welcome {{ user_name }}({{ level }})
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/Sign-Out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
							{% block sidebarsearch %}
							{% endblock %}
                        </li>
                        <li>
                            <a href="./Dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>

						<li>
							<a href="#"><i class="fa fa-check-square-o fa-fw"></i>Pengurusan<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								{% if level <= "3" %}
									<li><a href="./Management-Trainees"><i class="fa fa-male fa-fw"></i>Khidmat Pengurusan</a></li>
									<li><a href="./Management-Healths"><i class="fa fa-bar-chart fa-fw"></i>Unit Kesihatan</a></li>
									<li><a href="./Management-Logistics"><i class="fa fa-cutlery fa-fw"></i>Unit Logistik</a></li>
								{% endif %}
							</ul>
						</li>
{############----------------------------------------------------------------------------------------------------------------------
						<li>
							<a href="#"><i class="fa fa-check-square-o fa-fw"></i>Cetak Borang<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								{% if level <= "3" %}
									<li><a href="./Menus-Management"><i class="fa fa-male fa-fw"></i>Pendaftaran</a></li>
									<li><a href="./Tables-Management"><i class="fa fa-bar-chart fa-fw"></i>Kesihatan</a></li>
									<li><a href="./Tables-Management"><i class="fa fa-cutlery fa-fw"></i>Logistik</a></li>
								{% endif %}
							</ul>
						</li>
------------------------------------------------------------------------------------------------------------------------############}
						{% if level <= "2" %}
							<li>
								<a href="#"><i class="fa fa-pie-chart fa-fw"></i>Reports<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="./Report-Trainees?type=all" target="_blank"><i class="fa fa-bar-chart fa-fw"></i>Senarai Nama Peserta</a></li>
									<li><a href="./Report-Trainees?type=bsn_account" target="_blank"><i class="fa fa-area-chart fa-fw"></i>Senarai No Akaun Pelatih</a></li>
									<li><a href="./Report-Trainees?type=allergic" target="_blank"><i class="fa fa-line-chart fa-fw"></i>Senarai Pelatih Yang Ada Alahan</a></li>
								</ul>
							</li>
						{% endif %}
						{% if level <= "1" %}
							<li>
								<a href="#"><i class="fa fa-sitemap fa-fw"></i>Operasi<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li><a href="./Operation-Races"><i class="fa fa-users fa-fw"></i>Kaum</a>
									<li><a href="./Operation-Companies"><i class="fa fa-table fa-fw"></i>Kompeni</a>
									<li><a href="./Operation-Religions"><i class="fa fa-users fa-fw"></i>Agama</a>
									<li><a href="./Operation-Educations"><i class="fa fa-clock-o fa-fw"></i>Pendidikan</a>
									<li><a href="./Operation-Relations"><i class="fa fa-users fa-fw"></i>Hubungan</a>
									<li><a href="./Operation-Blood-Groups"><i class="fa fa-users fa-fw"></i>Kumpulan Darah</a>
								</ul>
								<!-- /.nav-second-level -->
							</li>
						{% endif %}
						
						{% if level <= "1" %}
{############----------------------------------------------------------------------------------------------------------------------
							<li>
								<a href="#"><i class="fa fa-sitemap fa-fw"></i>Administration<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li>
										<a href="#"><i class="fa fa-male fa-fw"></i>Users & Access<span class="fa arrow"></span></a>
										<ul class="nav nav-third-level">
											<li><a href="./Users"><i class="fa fa-male fa-fw"></i>Users</a></li>
											<li><a href="./Access-Control"><i class="fa fa-male fa-fw"></i>Access Control List</a></li>
										</ul>
										<!-- /.nav-third-level -->
									</li>
									<li><a href="./Configs"><i class="fa fa-cog fa-fw"></i>System Configuration</a></li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
------------------------------------------------------------------------------------------------------------------------############}
						{% endif %}
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

		{% block pagewrapper %}
		{% endblock %}
        
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ url_for('static', filename='js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/morris/morris.js') }}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="{{ url_for('static', filename='js/demo/dashboard-demo.js') }}"></script>

</body>

</html>
