<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>REKOD DATA INFORMASI PELATIH PLKN</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create an account</h3>
						<h5 class="panel-title" style="color:red;font-weight:bold;">{{error}}</h5>
                    </div>
                    <div class="panel-body">
                        <form class="sign-in-up-form" action="./Sign-Up" role="form" method="post">
                            <fieldset>
								<div class="form-group">
									<input class="form-control" name="full_name" type="text" placeholder="Your Full Name" autofocus>
								</div>
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="Your E-mail">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="password" type="password" placeholder="Your Password">
                                </div>
                                <div class="form-group">
									<input class="form-control" name="phone_no" type="number" placeholder="Your Phone No">
								</div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
								
								<!-- Sign In/Sign Up links -->
								<section class="sign-in-up-links text-center">
								  <p>Already have an account? <a href="/Sign-In">Sign In here</a></p>
								</section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

</body>

</html>