{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block pagewrapper %}

<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Unit Kesihatan <small>Rawatan pesakit luar</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-pencil-square-o"></i> Borang pendaftaran pesakit luar bagi pelatih
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Butiran Pelatih
            <h5 class="panel-title" style="color:red;font-weight:bold;">{{error}}</h5>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="./{% if edit and delete %}Management-Admittances-Delete{% elif edit %}Management-Admittances-Edit{% else %}Management-Admittances-New{% endif %}" role="form" method="post">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    Info
                  </div>
                  <div class="panel-body">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Nama</label>
                        <input disabled=disabled name="name" class="form-control" placeholder="Nama" value="{{ trainee.name }}">
                      </div>

                      <div class="form-group">
                        <label>No KP</label>
                        <input disabled=disabled name="dummy_ic_no" class="form-control" placeholder="No KP"  value="{{ trainee.ic_no }}">
                        <input type="hidden" name="ic_no" value="{{ trainee.ic_no }}">
                        <input type="hidden" name="admittance_id" value="{{ admittance.id }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Kompeni</label>
                        <select disabled=disabled name="company" class="form-control">
                          {% for type in companies: %}
                          <option value="{{ type.id }}" {% if type.id == trainee.company.id %} selected=selected {% endif %}>{{ type.name }}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="form-group">
                        <label>No Indeks</label>
                        <input disabled=disabled name="index_no" class="form-control" placeholder="No Indeks" value="{{ trainee.index_no }}">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-primary">
                  <div class="panel-heading">
                    Butiran Lawatan
                  </div>
                  <div class="panel-body">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Tarikh/Masa</label>
                        <input name="timestamp" class="form-control" placeholder="Otomatik Masuk" value="{{ admittance.timestamp }}">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Butiran Aduan/Pemeriksaan</label>
                        <textarea name="details" class="form-control" rows="3">{% if edit %} {{ admittance.details }} {% endif %}</textarea>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Diagnosis</label>
                        <textarea name="diagnosis" class="form-control" rows="3">{% if edit %} {{ admittance.diagnosis }} {% endif %}</textarea>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Blood Pressure</label>
                        <input name="blood_pressure" class="form-control" placeholder="Blood Pressure" value="{{ admittance.blood_pressure }}">
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Temperature</label>
                        <input name="temperature" class="form-control" placeholder="Temperature" value="{{ admittance.temperature }}">
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Pulse</label>
                        <input name="pulse" class="form-control" placeholder="Pulse" value="{{ admittance.pulse }}">
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Respiration</label>
                        <input name="respiration" class="form-control" placeholder="Respiration" value="{{ admittance.respiration }}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-success">{% if delete %} Padam {% else %} Daftar {% endif %}</button>
                  <button type="reset" class="btn btn-default">Reset</button>
                </div>
              </form>

              <!-- /.col-lg-10 (nested) -->
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
